---
import PostHeading from "./postHeading.astro";

const {title, subtitle, author, date, image} = Astro.props.post.frontmatter;
---

<div id="container">
    <div id="image">
        <img src={image} alt="placeholder image">
    </div>
    <div id="heading">
        <PostHeading {title} {subtitle} {author} {date} /> 
    </div>
</div>

<style>
    #container:hover{
        box-shadow: .1rem .1rem 0 var(--accent-color);
    }
    #container{
        display: flex;
        flex-wrap: wrap;
        background: var(--foreground-color); 
        margin: auto;
        gap: 1rem;
    }
    #image{
        padding: 1rem;
    }
    img{
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }
    #heading{
        flex-grow: 1;
        padding: 1rem;
        margin: auto;
    }
</style>